@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  img {
    height: 50px;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: rgba(160, 241, 171, 0.808);
    height: 100vh;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .sidebar-task {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .sidebar-projects {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
  }

  .sidebar-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgba(229, 250, 210, 0.808);
    border: none;
    padding: 0.5rem 1rem;
  }

  .sidebar-button:hover {
    cursor: pointer;
  }

  .count {
    margin-left: auto;
    padding-right: 1rem;
  }

  .nav-title {
    font-family: Josefin Sans;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem 1rem 0;
  }

  .content-section {
    background-color: rgba(205, 233, 180, 0.808);;
  }
